---
- name: "Install the Prometheus server"
  include_tasks: "install-server/{{ansible_distribution|lower}}{{ansible_distribution_version}}.yml"

- name: "Configure the boot arguments"
  template:
    src: "etc/default/defaults.j2"
    dest: "/etc/default/prometheus"
  vars:
    __prometheus__args: "{{ prometheus__server_args }}"
  notify: "restart prometheus-server"
